* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/color4.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    /*display:fixed;*/
    background-position: center;
    background-repeat: no-repeat;
}
body:before{
    content: "";
    width:100%;
    min-height:100%;
    background: linear-gradient(90deg, rgb(245, 225, 159),rgb(0, 245, 192));
    position: absolute;
    opacity: 0.6;
    top:0;
    left:0;
}

header {
      background-image: url(../images/color6.jpg);
      width: 100%;
      min-height: 37vh;
      background-size: cover;
      position: relative;
      /*display:flex;*/
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 5px;
}

header:before {
    content: "";
    width: 100%;
    min-height: 37vh;
    background: linear-gradient(130deg, rgb(236, 115, 115), rgb(229, 147, 245));
    opacity: 0.7;
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
}

h1 {
    margin-top: 10px;
    font-size: 9em;
    margin-left: 300px;
    color: rgb(255, 248, 248);
    /*position: relative*/
}

main {
    position: relative;
}

main h3 {
    margin-left: 450px;
}

@media screen and (min-width: 230px) and (max-width: 800px){
    * {
        margin:0;
        padding:0;
    }

    body {
        margin:0;
        padding:0;
        background-image: url(../images/color4.jpg);
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        position: relative;
        display:fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    body:before {
        content: "";
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(130deg, rgb(50, 228, 34), rgb(40, 100, 231));
        opacity: 0.7;
        position: absolute;
        box-sizing: border-box;
        border-radius: 5px;

    }

header {
    background-image: url(../images/color6.jpg);
    width: 100%;
    min-height: 37vh;
    background-size: cover;
    position: relative;
    display:flex;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
}

header:before {
    content: "";
    width: 100%;
    min-height: 37vh;
    background: linear-gradient(130deg, rgb(236, 115, 115), rgb(229, 147, 245));
    opacity: 0.7;
    /*position: absolute;*/
    box-sizing: border-box;
    border-radius: 5px;
}

h1 {
    /*margin-top: 10px;*/
    font-size: 4em;
    color: rgb(255, 248, 248);
    /*position: relative;*/
    margin-left: 130px;
}

main {
    position: relative;
}

main h3 {
    margin-left: 100px;
    font-size: 1em;
    margin-right: 100px;

}
}